<h1>Listing Email Templates</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_templates.each do |email_template| %>
  <tr>
    <td><%= email_template.name %></td>
    <td><%= truncate(email_template.subject, :length => 75) %></td>
    <td><%= link_to 'Show', email_template %></td>
    <td><%= link_to 'Edit', edit_email_template_path(email_template) %></td>
    <td><%= link_to 'Destroy', email_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email template', new_email_template_path %>
